<div id="nav-bar-container">
  <div class="logo-wrapper">
    <img id="logo" src="../../assets/images/logo-transparent.png">
    <div id="logo-text" class="small-text top-bar-column">{{'header.logo' | translate}}</div>
  </div>
  <div id="top-navigation" class="top-bar-column">
      <div i18n="@@top-navigation-first-selection" class="small-text top-nav-item" (click)="scrollToServices()">
        {{'header.services' | translate}}
      </div>
      <div i18n="@@top-navigation-second-selection" class="small-text top-nav-item" (click)="scrollToAboutUs()">
        {{'header.about' | translate}}
      </div>
      <div i18n="@@top-navigation-third-selection" class="small-text top-nav-item" (click)="scrollToBottomHero()">
        {{'header.shopping' | translate}}
      </div>
  </div>
  <div id="language-selector" class="top-bar-column">
      <div class="language-option" (click)="useLanguage('en')">EN</div>
      <div class="language-option" (click)="useLanguage('de')">DE</div>
      <div class="language-option" (click)="useLanguage('lv')">LV</div>
  </div>
</div>
