<ks-modal-gallery
  id="gallery"
  [id]="0"
  [modalImages]="images"
  [plainGalleryConfig]="plainGalleryConfig"
  [previewConfig]="previewConfig"
  [dotsConfig]="dotsConfig"
  (close)="onModalClosed($event)"
></ks-modal-gallery>

<div id="main-content-container">
  <div id="top-hero-container" class="hero-container">
    <div id="top-hero" class="hero">
      <span id="hero-logo"><img class="logo-image" /></span>
      <div id="top-hero-text-background">
        <div id="top-hero-grid" class="text-group">
          <div class="col">
            <div
              id="top-hero-welcome"
              class="hero-text extra-large-text"
            >
              {{'top-hero.welcome' | translate}}
            </div>
            <div
              id="top-hero-text"
              class="hero-text hero-text"
            >
            {{'top-hero.text' | translate}}
            </div>
          </div>
          <div class="col col-c">
            <ul>
              <li
              (click)="scrollToElement('bottom-hero-container')">
                {{'top-hero.button-text' | translate}}
                <span></span><span></span><span></span><span></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-separator-wrapper">
    <img
      class="separator-img"
      src="../../assets/images/layered-waves-haikei1.svg"
    />
  </div>
  <div id="main-services-container">
    <div class="services-row">
      <div
        id="main-services-header"
        class="accent large-text"
      >
      {{'main-services.header' | translate}}
      </div>
      <div
        id="main-services-subheader"
        class="medium-text"
      >
      {{'main-services.subheader' | translate}}
      </div>
      <div id="service-babies" class="main-service">
        <div class="service-info-container">
          <div
            class="main-service-info-button medium-text"
          >
          {{'main-services.first-service-button' | translate}}
          </div>
        </div>
      </div>
      <div id="service-teenagers" class="main-service">
        <div class="service-info-container">
          <div
            class="main-service-info-button medium-text"
          >
          {{'main-services.second-service-button' | translate}}
          </div>
        </div>
      </div>
      <div id="service-adults" class="main-service">
        <div class="service-info-container">
          <div
            class="main-service-info-button medium-text"
          >
          {{'main-services.third-service-button' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-separator-wrapper">
    <img
      class="separator-img separator-2"
      src="../../assets/images/layered-waves-haikei2.svg"
    />
  </div>
  <div id="gallery-wrapper">
    <div
      id="gallery-header"
      class="accent large-text text-white"
    >
      Gallery
    </div>
    <swiper id="swiper" [config]="swiperConfig" [navigation]="true">
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-1.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-2.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-3.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-4.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-5.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-6.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-7.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-8.JPG" class="swiper-image"
      /></ng-template>
      <ng-template swiperSlide
        ><img src="../../assets/images/gallery-9.JPG" class="swiper-image"
      /></ng-template>
    </swiper>
  </div>
  <div class="block-separator-wrapper">
    <img
      class="separator-img separator-3"
      src="../../assets/images/layered-waves-haikei3.svg"
    />
  </div>
  <div class="about-us-wrapper">
    <div id="about-us-container" class="about-us-container about-us-left">
      <div id="about-us">
        <div
          id="about-us-header"
          class="accent large-text"
        >
        {{'about-us.header' | translate}}
        </div>
        <div
          id="about-us-text-block-1"
          class="medium-text about-us-text"
        >
        {{'about-us.text' | translate}}
        </div>
      </div>
    </div>
    <div class="about-us-image-right about-us-image-container">
      <div id="about-us-image-1" class="about-us-image"></div>
    </div>
    <div class="about-us-image-left about-us-image-container">
      <div id="about-us-image-2" class="about-us-image"></div>
    </div>
    <div class="about-us-image-right about-us-image-container">
      <div id="about-us-image-3" class="about-us-image"></div>
    </div>
  </div>
  <div class="block-separator-wrapper">
    <img
      class="separator-img separator-4"
      src="../../assets/images/layered-waves-haikei4.svg"
    />
  </div>
  <div id="bottom-hero-container" class="hero-container">
    <div id="bottom-hero" class="hero">
      <div
        id="bottom-hero-header"
        class="accent large-text"
      >
        {{'marketplaces' | translate}}
      </div>
      <div class="store-buttons-wrapper">
        <a
          href="https://www.mytoys.de/weri-spezials-strumpfhersteller-gmbh/"
          target="_blank"
          ><img class="store-image-l" src="../../assets/images/mytoys.png"
        /></a>
        <a
          href="https://www.amazon.de/s?k=Weri+Spezials&ref=bl_sl_s_ap_web_19281455031"
          target="_blank"
          ><img class="store-image-l" src="../../assets/images/Logo-Amazon.png"
        /></a>
        <a
          href="https://www.otto.de/mode/?marke=weri-spezials-strumpfhersteller-gmbh"
          target="_blank"
          ><img class="store-image" src="../../assets/images/otto.png"
        /></a>
      </div>
      <div class="store-buttons-wrapper">
        <a href="https://220.lv/lv/brands/w/weri-spezials" target="_blank"
          ><img class="store-image" src="../../assets/images/220.png"
        /></a>
        <a href="https://kaup24.ee/et/brands/w/weri-spezials" target="_blank"
          ><img class="store-image" src="../../assets/images/kaup.png"
        /></a>
        <a href="https://pigu.lt/lt/parduotuve/weri-spezials" target="_blank"
          ><img class="store-image" src="../../assets/images/pigu.png"
        /></a>
      </div>
    </div>
  </div>
  <div class="block-separator-wrapper">
    <img
      class="separator-img separator-5"
      src="../../assets/images/layered-waves-haikei5.svg"
    />
  </div>
  <div id="footer">
    <div class="footer-left">
      <img class="footer-logo" src="../../assets/images/logo-transparent.png" />

      <div class="separator-vertical"></div>
      <div class="contacts-wrapper">
        <div class="large-text get-in-touch">{{'contacts.header' | translate}}</div>
        <div class="email-row">
          <span class="heading">{{'contacts.e-mail' | translate}}</span
          ><a href="mailto:info.werispezials@gmail.com" class="info"
            >info.werispezials@gmail.com</a
          >
        </div>
        <div class="phone-row">
          <span class="heading">{{'contacts.phone' | translate}}</span
          ><a href="tel:+37129515872" class="info">+371 29 515 872</a>
        </div>
      </div>
    </div>

    <div class="footer-right">
      <a href="../../assets/cerificate.jpg" target="_blank" class="info"
        ><img
          class="certificate-logo"
          src="../../assets/images/certificate-logo.png"
        />
      </a>
    </div>
  </div>
</div>
